@using PrimeGearApp.Web.ViewModels.ProductViewModels;
@model IEnumerable<ProductIndexViewModel>

@{
    ViewData["Title"] = "Product List";
}

<h2>All Products</h2>
<a asp-action="Create" class="btn btn-success mb-4">Add a new Product</a>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <a asp-action="Details" asp-route-productId="@product.Id" class="product-card-link text-decoration-none">
                <div class="card mb-4 shadow-sm">
                    @if (!string.IsNullOrEmpty(product.ProductImagePath))
                    {
                        <img src="@product.ProductImagePath" class="card-img-top" alt="Product Image" style="height: 200px; object-fit: cover;">
                    }
                    else
                    {
                        <img src="/images/noImage.jpg" class="card-img-top" alt="Placeholder Image" style="height: 200px; object-fit: cover;">
                    }

                    <div class="card-body">
                        <h5 class="card-title">@product.Name (@product.Brand)</h5>
                        <p class="card-text"><strong>Price:</strong> @product.ProductPrice €</p>
                        <p class="card-text"><strong>Release Date:</strong> @product.ReleaseDate</p>
                        <p class="card-text"><strong>Warranty:</strong> @product.WarrantyInMonths months</p>
                        <p class="card-text"><strong>Available Quantity:</strong> @product.AvaibleQuantity</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<style>
    .product-card-link {
        color: black;
    }

    .product-card-link:hover {
        color: seagreen;
        text-decoration: none;
    }
</style>